<ion-header>
  <ion-toolbar ion-grid>
    <ion-row>
      <ion-title>CHAT PAGE</ion-title>
      <ion-button (click)="logout()" fill="clear" float-right>LOGOUT</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button [routerLink]="['./', 'english']">ENGLISH</ion-button>
    </ion-item>
    <ion-item>
      <ion-button [routerLink]="['./', 'catalan']">CATALAN</ion-button>
    </ion-item>
    <ion-item>
      <ion-button [routerLink]="['./', 'spanish']">SPANISH</ion-button>
    </ion-item>
    <ion-item>
      <ion-button [routerLink]="['./', 'chinese']">CHINESE</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
