<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input type="text" [(ngModel)]="email" ></ion-input>
      </ion-item>
  
      <ion-item>
          <ion-label position="floating">Password:</ion-label>
          <ion-input type="password" [(ngModel)]="password" ></ion-input>
        </ion-item>
    </ion-list>
  
    <ion-button padding fill="clear" (click)="login()">LogIn</ion-button>
    <ion-button padding fill="clear" routerLink="/signup">SIGNUP</ion-button>
</ion-content>
