<ion-header>
  <ion-toolbar ion-grid>
    <ion-row>
      <ion-title>chat-language</ion-title>
      <ion-button float-right><ion-icon name="exit"></ion-icon></ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content   padding  >
    <div  #scroller >
      <ion-list *ngFor="let message of messages"  no-lines class="msgbubble">
          <div  [class]="message.uid == currentUser_id ? 'innermsg right' : 'innermsg left' " >
            {{message.text}}
            <br>
            <span class="time">{{message.time | date:'mm:ss'}}</span>
          </div>
      </ion-list>
   </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-item no-lines #chatInput>
          <ion-input spellcheck="true" autoComplete="true" autocorrect="true" maxlength="500" type="text" (keyup.enter)="sendMessage(newMessage); newMessage=''" placeholder="Type your message..." [(ngModel)]="newMessage"></ion-input>
          <button  ion-button item-right (click)="sendMessage(newMessage)">
            <ion-icon name="send"></ion-icon>
          </button>
        </ion-item>
      </ion-toolbar>
</ion-footer>
